body {
background-color: #f9f7fe;

font-family: "Roboto", sans-serif;
   
}

a {
    color: #d2afff;
}

.weather-app {
    background: white;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}

.search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding:15px 20px

}

.search-form-button {
    background: #d2afff;
    color: white;
    border: none;
    border-radius: 6px;
    margin-left: 5px;
    font-size: 16px;
    padding:15px 30px
   
}

main {
    padding: 30px 0;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

.weather-app-city {
color: #d2afff;
font-size: 38px;
font-weight: 700;
line-height: 48px;
margin: 20px 0 10px;

}

.weather-app-details {
    font-size: 16px;
    color: #a6a6a6;
    line-height: 24px;
    font-weight: 500;

}

.weather-app-details strong {
   
    color: #d2afff;
   

}

.weather-app-temperature-container  {
    display:flex;
}

.weather-app-temperature {
    font-size: 80px;
    line-height: 88px;
    font-weight: 500;
    

}

.weather-app-icon   {
width: 88px;
height: 88px;

}

.weather-app-units  {
    margin-top:16px;
    font-size: 28px;
    font-weight: bold;
}
footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 11px;
    color: #a6a6a6;
}

.weather-forecast-date
{
color: #a6a6a6;

}
.weather-forecaste-max
{
    font-weight: bold;
    color: #d2afff;
}
.weather-forecaste-min
{
    opacity: 0.7;
    color: #d2afff;
}
